/* body {
    font-size: 20px !important;
}*/

/* a {
    display: block;
}

div {
    display: inline;
} */
li {
    display: inline-block;
    border: 2px solid blue;
    padding: 3px;
}
/* why does display inline-block does not apply to li when i apply to ul, 
why doesn't li inherit the same from ul? */