* {
  margin: 0px;
  /* set margin 0 for all elemnets on the webpage that gets by default by user style agent.
  Do this to get more control and calculate placement accurately */
  padding: 0px;
  box-sizing: border-box;
  /* This is done so the total dimensions come according to what we set the border size as, and 
  nt add up to the content values. */
}

.Box {
  border: 20px solid red;
  padding: 30px;
  margin: 40px;
  width: 200px;
  height: 200px;
}